#homepage {
  height: 100vh;
  width: 100%;
  background-image: url(../../resourses/doctors-portal/images/chair-faint.png);
  background-position: left top;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  position: relative;
}
#homepage::after {
  height: 100%;
  content: " ";
  position: absolute;
  top: 0;
  width: 30%;
  right: 0;
  background-color: #3a4256;
  z-index: -1;
}

#appointment {
  height: "100vh";
  width: "100%";
  background-image: url(../../resourses/doctors-portal/images/chair-faint.png);
  background-position: "center center";
  background-size: "100% 100vh";
}

.nav-item {
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 20px;
}

.blog-home {
  position: relative;
}
.hover-me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: white;
}
.blog-home:hover .hover-me {
  transition: all 0.4s;
  background-image: linear-gradient(to right, #19d3ae, #0fcfec),
    url("../../resourses/doctors-portal/images/quote-white.png");
  background-size: 100%;
  z-index: 10;
}

.contact {
  width: 100%;
  background: linear-gradient(rgb(58, 66, 86, 0.9), rgb(58, 66, 86, 0.9)),
    url("../../resourses/doctors-portal/images/chair2.png");
  background-position: center center;
  background-size: contain contain;
  background-repeat: repeat;
}
