a:hover {
  text-decoration: none;
}
#dashboard a:hover span:nth-child(2) {
  transition: all 0.4s;
  margin-left: 6px;
  text-decoration: none !important;
}

.pending {
  background-color: #76c5ff;
}
.approved {
  background-color: #38af86;
}
.cancel {
  background-color: #ff7676;
}
