#homepage {
  height: 100vh;
  width: 100%;
  background-image: url(./resourses/doctors-portal/images/chair-faint.png);
  background-position: left top;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  position: relative;
}
#homepage::after {
  height: 100%;
  content: " ";
  position: absolute;
  top: 0;
  width: 30%;
}
#homepage::after {
  right: 0;
  background-color: #3a4256;
  z-index: -1;
}

.nav-item {
  width: 10%;
  font-weight: 700;
  font-size: 1.1rem;
}
.c-green {
  background-color: #1cc7c1;
}
.t-green {
  color: #1cc7c1;
}
.c-green-grad-right {
  background: linear-gradient(to right, #19d3ae, #0fcfec);
}
.c-green-grad-bottom {
  background: linear-gradient(to bottom, #19d3ae, #0fcfec);
}

.react-calendar {
  border: 0;
}
.react-calendar__tile {
  width: 48px;
  height: 56px;
}
.react-calendar__tile--active {
  background: #1cc7c1;
  border-radius: 10px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1cc7c1;
}

@media (max-width: 768px) {
  #homepage {
    background-size: 100% 100%;
  }
  #homepage::after {
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
  .navbar-collapse {
    width: 100%;
    background: #1cc7c1;
    padding: 0;
    margin: 0;
    z-index: 10;
    text-align: center;
  }
}

.blog-home {
  position: relative;
}
.hover-me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: white;
}
.blog-home:hover .hover-me {
  transition: all 0.4s;
  background-image: linear-gradient(to right, #19d3ae, #0fcfec),
    url("./resourses/doctors-portal/images/quote-white.png");
  background-size: 100%;
  z-index: 10;
}

.contact {
  width: 100%;
  background: linear-gradient(rgb(58, 66, 86, 0.9), rgb(58, 66, 86, 0.9)),
    url("resourses/doctors-portal/images/chair2.png");
  background-position: center center;
  background-size: contain contain;
  background-repeat: repeat;
}
