#root {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.c-green {
  background-color: #1cc7c1;
}
.t-green {
  color: #1cc7c1;
}
.c-green-grad-right {
  background: linear-gradient(to right, #19d3ae, #0fcfec);
}
.c-green-grad-bottom {
  background: linear-gradient(to bottom, #19d3ae, #0fcfec);
}

.btn:hover {
  background: #fff;
  border: 1px solid #19d3ae;
  color: #19d3ae !important;
  transition: all 0.4s;
}
.active {
  color: #f0efec !important;
}

@media (max-width: 768px) {
  #homepage {
    background-size: 100% 100%;
  }
  #homepage::after {
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
  .navbar-collapse {
    width: 100%;
    background: #1cc7c1;
    padding: 0;
    margin: 0;
    z-index: 10;
    text-align: center;
  }
}

.react-calendar {
  width: 90%;
  border: 0;
}
.react-calendar__tile {
  width: 48px;
  height: 56px;
}
.react-calendar__tile--active {
  background: #1cc7c1;
  border-radius: 10px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1cc7c1;
}
